.aboutDiv {
  margin-top: 150px;
  text-align: center;
  line-height: 2rem;
}

.aboutHeading {
  font-size: 3rem;
  margin: 10px;
  font-size: 2rem;
}

.aboutPara {
  font-size: 1.2rem;
  margin: 40px 0;
}

.ul {
  margin: 10px;
}

.li {
  margin-left: 30px;
}
