* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f6f6f6;
  /* background-color: #111; */
  /* color: #bbb; */
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productSection {
  margin: 100px;
}

.productlist {
}

.productbox {
  height: 500px;
  width: 300px;
  /* margin: 0 auto; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0);
  /* background-color: red; */
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.viewButton {
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: orangered;
  color: #f6f6f6;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}
.viewButton:hover {
  background-color: blueviolet;
  color: #f6f6f6;
}

.productsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.heading {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
}

.singleproductdiv {
  margin-top: 150px;
  line-height: 2rem;
}

.singleprodimage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleproductdiv > h3 {
  color: orangered;
  font-size: 1.5rem;
}

.singleproductdiv > p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .productSection {
    margin: 100px 0;
  }

  .productheadingtop {
    margin: 0 auto;
  }
}
