* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f6f6f6;
  /* background-color: #111; */
  /* color: #bbb; */
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productSection {
  margin: 100px;
}

.productlist {
}

.productbox {
  height: 500px;
  width: 300px;
  /* margin: 0 auto; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0);
  /* background-color: red; */
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.viewButton {
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: orangered;
  color: #f6f6f6;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}
.viewButton:hover {
  background-color: blueviolet;
  color: #f6f6f6;
}

.productsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.heading {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
}

.productheadingtop {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
}

.singleproductdiv {
  margin-top: 150px;
  line-height: 2rem;
}

.singleprodimage {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

.singleprodimageimg {
  position: relative;
  /* object-fit: contain; */
}

.proDesc > h3 {
  color: orangered;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.proDesc > p {
  font-size: 1.2rem;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link:active {
  color: orange;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.nav-container {
  /* background-color: #444; */
  height: 100px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  /* background: red; */
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  z-index: 99;
}

@media only screen and (max-width: 600px) {
  .productSection {
    margin: 100px 0;
  }

  .container {
    padding: 0;
    margin: 0 auto;
  }

  .productheadingtop {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 50px;
  }
  .singleproductdiv {
    margin: 0 10px;
  }
  .singleprodimage {
    position: relative;
    width: 90vw;
    height: 300px;
    margin-bottom: 70px;
  }
  .singleprodimageimg {
    object-fit: contain;
  }
  .proDesc {
    margin: 20px;
  }

  .links {
    display: none;
  }

  .hlinks {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgb(236, 236, 236);
    color: black;
    font-weight: 600;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    gap: 50px;
    background: rgba(255, 255, 255, 0.589);
    /* background: red; */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    transition: all 2s linear;
    /* transform-origin: top; */
    animation-name: slide-bottom;
    animation-duration: 1s;
  }
  /* 
  .links:hover {
    color: orange;
  } */
}

/* @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
} */
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
