.container {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 200px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 4rem;
  background: linear-gradient(#c987ef, #6f739d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 1.5rem;
  font-weight: 300;
}

.button {
  padding: 20px;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
